name: Snyk Code Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  snyk-code:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Snyk CLI
        uses: snyk/actions/setup@v4

      - name: Add Snyk to PATH
        run: echo "${HOME}/.snyk" >> $GITHUB_PATH

      - name: Run Snyk Code scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          snyk code test --json > snyk-report.json
          snyk code test
      - name: Upload Snyk Code report
        uses: actions/upload-artifact@v3
        with:
          name: snyk-code-report